<?xml version="1.0" encoding="UTF-8"?>
<!--
 * This file is part of the Aus-e-Stage Beta Root Website
 *
 * The Aus-e-Stage Beta Root Website is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * The Aus-e-Stage Beta Root Website is distributed in the hope that it will 
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Aus-e-Stage Beta Root Website.  
 * If not, see <http://www.gnu.org/licenses/>.
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <display-name>Aus-e-Stage Beta Root Website</display-name>
    <description>
        This software powers the Aus-e-Stage Beta Root Website
    </description>
    <!-- Servlets -->
    <!-- Servlet Mapping -->
    <!-- Context Params to Share Common Information-->
    <context-param>
        <param-name>systemName</param-name>
        <param-value>Aus-e-Stage System Development</param-value>
    </context-param>    
    <context-param>
       	<param-name>systemVersion</param-name>
       	<param-value>1.0 (Alpha)</param-value>
    </context-param>
    <context-param>
        <param-name>buildVersion</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>moreInfo</param-name>
        <param-value>http://www.ausstage.edu.au</param-value>
    </context-param>
    <context-param>
        <param-name>systemUrl</param-name>
        <!-- Include trailing slash -->
        <param-value>http://beta.ausstage.edu.au/mapping/</param-value>
    </context-param>
    <!-- Add mime mapping for VUE files -->
	<mime-mapping>
		<extension>vue</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping> 
    
</web-app>
